@charset "UTF-8";
/* すべての要素のmarginとpaddingを0に設定します */

* {
    margin: 0;
    /* 要素の外側の余白を0にする */
    padding: 0;
    /* 要素の内側の余白を0にする */
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    /* フォントを指定する */
}

header {
    background-image: url(./img/oni.JPG);
    height: 450px;
    background-size: cover;
    padding-top: 150px;
}

h1 {
    color: #ffffee;
    font-size: 90px;
    font-family: Lobster;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 90px;
}

header p {
    text-align: center;
}

.shop {
    background-color: #ffffff;
    color: #663300;
    padding: 30px;
}

.title {
    font-size: 30px;
    border-left-style: solid;
    border-left-color: #ffcc11;
    border-left-width: 10px;
    padding-left: 15px;
    margin-bottom: 50px;
}

.shop p {
    font-size: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    height: 300px;
}

.shop img {
    float: right;
}

.photo {
    background-color: white;
    padding: 30px;
}

.photo h2 {
    color: #ffffff;
    border-color: #ffcc11;
}

.photo h3 {
    color: #663300;
}

.photo p {
    color: #fff;
    clear: left;
}

.big {
    background-color: rgba(251,178,187,0.33);
    width: 430px;
    padding: 15px;
    margin: 20px;
    box-shadow: 10px 10px 20px #000000;
    float: left;
/*    transform: rotate(-5deg);*/
}

.box {
    float: left;
}

.small {
    background-color: #ffffff;
    width: 240px;
    padding: 15px;
    margin: 20px;
    box-shadow: 10px 10px 20px #000000;
}
